# File System Settings
.DS_Store

# node_modules and package lock files
node_modules/
package-lock.json

# .txt and .csv for
*.csv
*.txt

#source files
/workingDocuments
*.numbers
*.xls
*.xlsx
*.pdf

# weird files i dont understand
*.swp
